/*--------------------------------------------------------------------------
+	Homepage Slider Style (modified sequencejs CSS). Sorry, no LESS here
--------------------------------------------------------------------------*/

.carousel-control-next {
  display: none !important;
}

.carousel-control-prev {
  display: none !important;
}

.carousel {
  padding-top: 90px;
  max-height: 480px;
  width: inherit;
}



.imgcaru{
  width: inherit;
}
.imgslider{
  width: 100%;
  height: auto;
}

